.example-container {
    height: 400px;
    width: 360px;
    overflow: auto;
  }
  
  table {
    width: 900px;
  }
  td.mat-column-name {
    width: 15px;
    padding-right: 8px;
  }

  td.mat-column-weight {
    padding-left: 8px;
    border-left: 1px solid #e0e0e0;
  }

  td.mat-column-star {
    width: 15px;
    padding-right: 8px;
  }

  th.mat-header-cell {
    font-weight: bold;
    font-size: 15px;
  }

  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }